/* Write your CSS here */

.bg-container {
  background-color: #161625;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
}

.logo-container {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
}

.logo-text {
  font-size: 15px;
  color: #2cc6c6;
  font-weight: 500;
  font-family: 'Roboto';
}

.heading {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto';
}

.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-img {
  width: 180px;
}

.error-text {
  font-size: 23px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.container {
  background-color: #1c1c2b;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 4px 16px 4px #161625;
  margin: 10px;
}
